<hibernate-configuration>
    <session-factory>

        <property name="hibernate.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/Hibernate_study</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">qwerty123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <!-- Other configuration -->
    </session-factory>

</hibernate-configuration>